In [1]:
from google.colab import files
uploaded = files.upload()

Saving aprioriData1.csv to aprioriData1.csv

In [3]:
import pandas as pd 
import io

df = pd.read_csv(io.BytesIO(uploaded['aprioriData1.csv']))

In [34]:
dataset = [] 

import csv 

with open('aprioriData1.csv') as f:
  reader = csv.reader(f)

  for row in reader: 
    dataset.append(row)

for row in dataset:
  print(row)

# dataset[0]

['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt']

In [6]:
df.head()

   Milk    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
0  Dill    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
1  Milk    Apple  Kidney Beans          Eggs        NaN     NaN
2  Milk  Unicorn          Corn  Kidney Beans     Yogurt     NaN
3  Corn    Onion         Onion  Kidney Beans  Ice Cream    Eggs

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
%pip install mlxtend

In [10]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [12]:
oht = TransactionEncoder() 
oht_array = oht.fit(dataset).transform(dataset)

In [13]:
oht_array

array([[False, False, False, False,  True, False,  True,  True,  True,
         True, False,  True],
       [False, False, False,  True,  True, False,  True, False,  True,
         True, False,  True],
       [ True,  True, False, False,  True, False,  True,  True, False,
        False, False, False],
       [ True, False,  True, False, False, False,  True,  True, False,
        False,  True,  True],
       [False, False,  True, False,  True,  True,  True, False, False,
         True, False, False]])

In [14]:
oht_df = pd.DataFrame(oht_array, columns = oht.columns_)

In [19]:
oht_df.head()

,,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,False,True,False,True,True,True,True,False,True
1,False,False,False,True,True,False,True,False,True,True,False,True
2,True,True,False,False,True,False,True,True,False,False,False,False
3,True,False,True,False,False,False,True,True,False,False,True,True
4,False,False,True,False,True,True,True,False,False,True,False,False

In [20]:
oht_df.tail()

,,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,False,True,False,True,True,True,True,False,True
1,False,False,False,True,True,False,True,False,True,True,False,True
2,True,True,False,False,True,False,True,True,False,False,False,False
3,True,False,True,False,False,False,True,True,False,False,True,True
4,False,False,True,False,True,True,True,False,False,True,False,False

In [23]:
oht_df.drop(oht_df.columns[0], axis = 1)

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [24]:
frequent_items = apriori(oht_df, min_support = 0.6, use_colnames = True)
print(frequent_items)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

In [25]:
type(frequent_items)

pandas.core.frame.DataFrame

In [27]:
frequent_items.sort_values(by = ['support'], ascending = False)

    support                     itemsets
1       1.0               (Kidney Beans)
0       0.8                       (Eggs)
5       0.8         (Eggs, Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

In [30]:
rules = association_rules(frequent_items, metric = 'confidence', min_threshold = 0.7) 
print(print(rules[['antecedents', 'consequents', 'support', 'confidence']]))

              antecedents            consequents  support  confidence
0                  (Eggs)         (Kidney Beans)      0.8        1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80
2                  (Eggs)                (Onion)      0.6        0.75
3                 (Onion)                 (Eggs)      0.6        1.00
4                  (Milk)         (Kidney Beans)      0.6        1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00
6                (Yogurt)         (Kidney Beans)      0.6        1.00
7           (Eggs, Onion)         (Kidney Beans)      0.6        1.00
8    (Eggs, Kidney Beans)                (Onion)      0.6        0.75
9   (Onion, Kidney Beans)                 (Eggs)      0.6        1.00
10                 (Eggs)  (Onion, Kidney Beans)      0.6        0.75
11                (Onion)   (Eggs, Kidney Beans)      0.6        1.00
None

In [32]:
rules.sort_values(by = ['confidence'], ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
8,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [33]:
empt_list = [] 

for i in range(10):
  empt_list.append(i)

print(empt_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]